/* header {

    text-align: center;
}

.card-header {
    text-align: center;
    margin-top: 100px;
}
.card-footer {
    text-align: center;
    margin-top: 70px;
}
button:hover {
background-color: lightgreen;
box-shadow: 0 0 8px 4px yellowgreen;
}
.answer {
   margin-top: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
} */
/* .container {
    border: 2px solid black;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
} */
body {
    background-color: white
}
.container {
  position: absolute;
  right: 800px;
    background-color: aliceblue;
    width: 200px;
    box-shadow: 0 0 14px 2px lightskyblue;
    height: 300px;
    border-radius: 10px;
    padding: 50px;
    font-size: 30px;
}
header {
   margin-left: 500px;

   width: 190px;
  
}
button {
    background-color: lightskyblue;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid lightslategray;
    font-size: 15px;
    
}
button:hover {
    background-color: white;
    box-shadow: 0 0 14px 2px lightskyblue;
}
.answer {
    display: grid;
}
#question {
    margin-bottom: 20px;
    text-align: center;
    
}
#timer {
    text-align: end;
    font-size: 25px;
}