/* *, *::before, *::after {
   
} */


body {
    background-color: white;
    align-items: center;
}

#start {
   align-self: center;
    padding: 30px;
    font-size: 30px;
}
.container {
    
    background-color: aliceblue;
    width: 300px;
    max-width: 50%;
    max-height: 50%;
    box-shadow: 0 0 14px 2px lightskyblue;
    height: 300px;
    border-radius: 10px;
    padding: 70px;
    font-size: 30px;
    margin: 300px;
    margin-top: 100px
}

button {
    background-color: lightskyblue;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid lightslategray;
    font-size: 15px;
    border-radius: 27px;
    outline:none ;
}
button:hover {
    background-color: white;
    box-shadow: 0 0 14px 2px lightskyblue;
}
.answer {
    display: grid;
    grid-template-columns: repeat(2, auto) ;
    gap: 12px;
    margin-top: 27px;
}
#question {
    margin-bottom: 20px;
    text-align: center;
    
}
#timer h2 {
   align-content: end;
}
.hide {
    display: none;
}







/* header {

    text-align: center;
}

.card-header {
    text-align: center;
    margin-top: 100px;
}
.card-footer {
    text-align: center;
    margin-top: 70px;
}
button:hover {
background-color: lightgreen;
box-shadow: 0 0 8px 4px yellowgreen;
}
.answer {
   margin-top: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
} */
/* .container {
    border: 2px solid black;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
} */