body {
    margin: 0;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    background: lightgray;
}

nav button {
    color: purple;
    background: none;
    border: none;
}

main {
    text-align: center;
    width: 90%;
    margin: 5vh auto;
    border: 2px solid black;
    border-radius: 8px;
    height: 50vh;
}

button {
    background: purple;
    color: white;
    border-radius: 8px;
    padding: 5px;
}
.hide {
    display: none;
}